## SETTING

In [5]:
#import Beautifulsoup
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [51]:
#set the executable path and initialize the chrome browser
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Visit the NASA web sites

In [25]:
#visit  the mars nasa new site
url='https://mars.nasa.gov/news/'
browser.visit(url)

In [26]:
html = browser.html
news_soup = bs(html, 'html.parser')

#print(news_soup)

slide_element = news_soup.select_one('ul.item_list li.slide')
#print(slide_element)

In [27]:
slide_element.find('div', class_="content_title")

In [28]:
#use the parent element to find the first a tag and save it as news-title
news_title=slide_element.find('div',class_="content_title").get_text()
news_title

'Why This Martian Full Moon Looks Like Candy'

In [29]:
news_paragraph=slide_element.find('div',class_="article_teaser_body").get_text()
news_paragraph

"For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera."

## JPL SPACE IMAGES FEATURED IMAGE

In [52]:
#visit url
url='https://www.jpl.nasa.gov/spaceimages/?search-&category-Mars'
browser.visit(url)

In [53]:
#asking splinter to go on the site hit a button with class name full_image
full_image_button=browser.find_by_id('full_image')
full_image_button.click()

In [54]:
#Find the more info button and click that
browser.is_element_present_by_text('more info',wait_time=1)
more_info_element=browser.find_link_by_partial_text('more info')
more_info_element.click()

In [55]:
#parse the results html with soup
html=browser.html
image_soup=bs(html, 'html.parser')

In [57]:
img_url=image_soup.select_one('figure.lede a img').get('src')
img_url

'/spaceimages/images/largesize/PIA14254_hires.jpg'

In [58]:
#use the base url to create an absolute url
img_url=f'https://www.jpl.nasa.gov{img_url}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14254_hires.jpg'

## MARS WHEATHER

In [63]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [68]:
html=browser.html
weather_soup=bs(html, 'html.parser')

In [69]:
#fisrt find a tweet with the data-name 'Mars weather'
mars_weather_tweet=weather_soup.find('div',
                                    attrs={
                                        'class':"tweet",
                                        'data-name':'Mars Weather'
                                        })

In [70]:
mars_weather=mars_weather_tweet.find('p','tweet-text').get_text()
mars_weather

'InSight sol 163 (2019-05-13) low -99.9ºC (-147.7ºF) high -17.7ºC (0.2ºF)\nwinds from the SW at 4.3 m/s (9.7 mph) gusting to 15.2 m/s (34.0 mph)\npressure at 7.50 hPapic.twitter.com/qtElTnSRJj'

In [105]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k=target&v1=Mars'
browser.visit(url)

In [106]:
hemisphere_image_urls=[]

#first get a list of all the hemispheres

links=browser.find_by_css('a.product-item h3')
print(links)
for item in range(len(links)):
    hemisphere={}

    #we have to find the element on each loop to avoid a stale element exception
    browser.find_by_css('a.product-item h3')[item].click()

    #next we find the sample image anchor tag and extract the href
    sample_element=browser.find_link_by_text('Sample').first
    hemisphere['img_url']=sample_element['href']

    #get hemisphere title
    hemisphere['title']=browser.find_by_css('h2.title').text

    #Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)

    #finally we navigate 
    browser.back()

[<splinter.driver.webdriver.WebDriverElement object at 0x000002892E127B70>, <splinter.driver.webdriver.WebDriverElement object at 0x000002892E135470>, <splinter.driver.webdriver.WebDriverElement object at 0x000002892E135A90>, <splinter.driver.webdriver.WebDriverElement object at 0x000002892E135668>]

In [108]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

#### MARS FACTS

In [112]:
import pandas as pd
df=pd.read_html('https://space-facts.com/mars/')[0]
print(df)
df.columns=['description','value']
df.set_index('description',inplace=True)
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [113]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [114]:
browser.quit()